:root{
	-webkit-print-color-adjust:exact;
}

body *{
	font-size:inherit;
	font-family:inherit;
	color:inherit;
}

html, body, .scene{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	border-width:0;
}

.scene{
	position:relative;
	overflow:hidden;
}

.gantt td{
	padding:0;
	margin:0;
	font-size:50%;
}

.gantt td ul{
	list-style-type: disc;
	padding-left:2em;
}

.gantt tr.calendar td{
	background-color: #666666;
}

.gantt td.method{
	background-color: #cc9933;
}

.gantt td.workshop{
	background-color: #cc33cc;
}

.gantt td.prototype{
	background-color: #009900;
}

.gantt td.publication{
	background-color: #3333ff;	
}

body{
	font-size:24px;
	font-family:Stint Ultra Expanded,sans;
/*	font-family:Open Sans,sans; */
	color:white;
}

.wash{
	position:fixed;
}

.background, .foreground {
	position:absolute;
}

.background, .wash, .foreground {
	left:0;
	top:0;
}

.scene{
	perspective:10px;
	page-break-after:always;
}

.wash {
	background-color:red;
	z-index: -2;
}

.background {
	z-index: -1;
	opacity:0.5;
	background-size:100%;
}

.background *{
	opacity:1.0;
} 

.background, .wash{
	width:100%;
	height:100%;
}

.foreground{
	width:80%;
	height:90%;
	margin-left:10%;
	margin-right:10%;
	margin-top:5%;
	margin-bottom:5%;
	display:table;
}

.left, .right{
	margin:0;
	margin-top:2em;
	padding:0;
	display:inline-block;
	width:49%;
}

.chunk{ /* used to annotate individual chunks of text */
	display:inline-block;
}

ul{
	list-style-type: none;
	padding-left:0px;
}

h1 {
	font-size:200%;
	color:black;
	background-color:rgba(255,255,255,0.8);
	margin-bottom:1em;
	line-height:1.5em;
}

.saloondoor h1, .saloondoor li{
	padding-left:20px;
}

.saloondoor li {
	padding:0.3em;
	margin:0.05em;
	background-color:rgba(128,128,128,0.8);
}

.console{
	background:black;
}

.console ul li{
	color:green;
	font-family:'Press Start 2P';
}

.saloondoor .left li {
	transform-origin:left center;
	transform:rotateX(-5deg) rotateY(25deg);
	-webkit-transform-origin:left center;
	-webkit-transform:rotateX(-5deg) rotateY(25deg);
}

.saloondoor .right li {
	transform-origin:right center;
	transform:rotateX(-5deg) rotateY(-25deg);
	-webkit-transform-origin:right center;
	-webkit-transform:rotateX(-5deg) rotateY(-25deg);
}

.reveal.grow {
	overflow:hidden;
}

.reveal.grow>*{
	width:16em;
}

.background.circuit{
	background-image:url('img/circuit.jpg');
}

.background.bike{
	background-image:url('img/bikes.jpg');
}

.background.dildo{
	background-image:url('img/dildos.jpg');
}

.background.blueprint{
	background-image:url('img/blueprint_sketched.jpg');
}

.background.camera{
	background-image:url('img/camera.jpg');
}

.background.rearlight{
	background-image:url('img/rearlight.jpg');
}

.background.toaster{
	background-image:url('img/toaster_dial.jpg');
}

.background.vibrator{
	background-image:url('img/vibrator.jpg');
}

.background.washer{
	background-image:url('img/washing_machine.jpg');
}

.background.toy{
	background-image:url('img/toy_robot.jpg');
}

.background.gadget{
	background-image:url('img/gadgets.jpg');
}

.background.phone{
	background-image:url('img/phones.jpg');
}
